# Port and Environment - Development

NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:4200
TZ=America/La_Paz

# Database Credentials

# Write Database
DB_WRITE_HOST=localhost
DB_WRITE_PORT=5432
DB_WRITE_USERNAME=your_username
DB_WRITE_PASSWORD=your_password
DB_WRITE_NAME=place_pick_core_db

# Read Database
DB_READ_HOST=localhost
DB_READ_PORT=5432
DB_READ_USERNAME=your_username
DB_READ_PASSWORD=your_password
DB_READ_NAME=place_pick_core_db
